Options +FollowSymlinks
RewriteEngine on

ErrorDocument 404 /index.php?controller=ErrorDocument\http404

RewriteRule ^([[:alpha:]]+(/[[:alpha:]]+)?)/?$  /index.php?controller=$1 [QSA,L]
RewriteRule ^([[:alpha:]]+(/[[:alpha:]]+)?)::([a-z]+)/?$  /index.php?controller=$1&method=$3 [QSA,L]
RewriteRule ^json/([[:alpha:]]+(/[[:alpha:]]+)?)::([a-z]+)/?$  /index.php?controller=$1&method=$2&content_type=json [QSA,L]
