body {
    color:#222
}

.navbar-default,
.sidebar {
    background-color: #222;
    border-color: #080808
}

.navbar-default a.navbar-brand,
.navbar-default a,
.sidebar a {
    color: #ccc
}

#wrap {
    background:#ddd
}

.sidebar li a:hover {
    background-color: #333
}

.sidebar li.active a {
    color: #fff;
    background-color: #080808
}

.sidebar li.active a:after {
    border-right-color: #ddd
}

.page-header {
    border-color:#bbb;
}